#header
  background: linear-gradient(to left bottom , rgba(#43e97b, .80) 0%, rgba(#38f9d7, .80) 100%),url('../img/hero.jpg') no-repeat
  background-size: cover
  height: 90vh
  overflow: hidden

  img
    max-width: 500px
    width: 100%

  article
    color: #fff
    text-align: center
    width: 70%
    margin: 0 auto

    h1
      color: #fff
      margin: 20px
      text-transform: uppercase
      letter-spacing: 10px
      line-height: 1.5
    

.main-nav
  display: flex
  margin-top: 20px

  li  
    list-style: none

  li:first-child
    margin-right: auto
  a
    color: #fff
    display: block
    text-transform: uppercase
    border-radius: 4px
    padding: 10px 40px
    text-decoration: none
    font-weight: 700
    
    &:hover
      color: $ocean


  .download 
    background: #fff
    color: $forest
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2)
    transition: all .3s ease

    &:hover 
      transform: translateY(3px)

#brands
  max-width: 100%
  ul
    padding: 20px 0
    list-style: none
    background: #fff
    display: flex
    justify-content: center
    flex: 1 1 33%
    box-sizing: border-box
    flex-wrap: wrap

    @media only screen and (max-width:800px)
      li
        text-align: center
        flex: 1 1 30%
        flex-wrap: wrap

